@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  @apply bg-bgColor text-default overflow-x-hidden font-main
}

.nav{
  @apply h-24 w-full flex justify-between items-center 
}

.nav-item{
  @apply opacity-75 font-bold
}

a{
  @apply cursor-pointer
}

.container{
  @apply w-screen h-screen
}

.nav-active{
  @apply !text-default opacity-100
}

.header{
  @apply  text-4xl font-semibold
}
.gradient-border {
  padding: 3px;
  border-radius: 16px;
  background: conic-gradient(
    from 225deg,
    #ffc876,
    #79fff7,
    #6528D7,
    #ff98e2,
    #ffc876
  );
}

@layer components{
  .card{
    @apply absolute top-0 left-0 h-full w-full;
  }
}